.add-post-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #eee;
  border: 1px solid #ddd;
}

.control {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.send-button {
  margin-right: 16px;
}

.name-title-layout {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.name-title-avatars-layout {
  display: flex;
  margin-bottom: 16px;
}

.errors-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.error-item {
  font-size: 13px;
  color: #f7115f;
  &:not(:last-child):not(:empty) {
    margin-right: 16px;
  }
}
