.avatars-list {
  display: flex;
}
.avatar-label {
  display: inline-flex;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.avatar-img {
  max-width: 100px;
  width: 100%;
  border-radius: 2px;
  transition: 0.2s linear;
}
[id^="ava-"] {
  display: none;
}
[id^="ava-"]:checked + img {
  cursor: text;
  box-shadow: 4px 5px 0 rgba(82, 62, 107, 0.2);
}
